.navigation {
  margin: 2em auto 2.5em;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  white-space: nowrap;

  a {
    color: #282c34;
    font-size: 1.1em;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
    padding: 0.575em 0.65em;
    display: inline-block;

    &.active {
      color: #61dafb;
    }
  }

  img {
    width: 70px;
    height: auto;
  }
}
